<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nextcloud.talk.imagepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name="com.nextcloud.talk.imagepicker.ImagePickerEditorActivity"
            android:theme="@style/IPAppTheme.Immersive" />
        <activity
            android:name="com.nextcloud.talk.imagepicker.ImageEditActivity"
            android:theme="@style/IPAppTheme.Immersive" />

<!--        <activity-->
<!--            android:name="com.yalantis.ucrop.UCropActivity"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
<!--            tools:node="replace" />-->

<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.imagepicker.fileprovider"-->
<!--            tools:replace="android:authorities"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/ip_file_provider_paths" />-->
<!--        </provider>-->
    </application>

</manifest>